"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
    ]
    themes: [
      "atom-dark-ui"
      "railscast-theme"
    ]
    useReactEditor: true
  editor:
    fontFamily: "Monaco"
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "3fb58b1f-bdd2-adab-efb8-2975dc6c23e4"
  metrics:
    userId: "325bce100c7642d8976ff1c23ba4a1eec37404f1"
  pigments: {}
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
